Repository ryu-qqq/FileFlow: changes, and which Atlantis projects are due for each by the changed paths.
All: fileflow-ecr-prod, fileflow-ecs-cluster-prod, fileflow-elasticache-prod, fileflow-sqs-prod, fileflow-s3-prod, fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

atlantis.yaml:

# ============================================================================
# FileFlow - Atlantis Configuration
# ============================================================================
# PR-based Terraform automation for FileFlow infrastructure
# ============================================================================

version: 3

automerge: false
delete_source_branch_on_merge: false
# Disable parallel plan to prevent plugin cache conflicts
parallel_plan: false
parallel_apply: false

projects:
  # ============================================================================
  # Container Registry
  # ============================================================================

  # ECR repositories for web-api, scheduler, and download-worker
  - name: fileflow-ecr-prod
    dir: terraform/ecr
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Core Infrastructure
  # ============================================================================

  # ECS Cluster (dedicated for fileflow)
  - name: fileflow-ecs-cluster-prod
    dir: terraform/ecs-cluster
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ElastiCache (Redis)
  - name: fileflow-elasticache-prod
    dir: terraform/elasticache
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Queue
  # ============================================================================

  # SQS for asynchronous download tasks
  - name: fileflow-sqs-prod
    dir: terraform/sqs
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Storage
  # ============================================================================

  # S3 Bucket for file uploads
  - name: fileflow-s3-prod
    dir: terraform/s3
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ============================================================================
  # Application Infrastructure
  # ============================================================================

  # ECS Service for web-api (ALB + Auto Scaling)
  - name: fileflow-ecs-web-api-prod
    dir: terraform/ecs-web-api
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ECS Service for scheduler (No ALB, desired=1)
  - name: fileflow-ecs-scheduler-prod
    dir: terraform/ecs-scheduler
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

  # ECS Service for download-worker (SQS-based, No ALB)
  - name: fileflow-ecs-download-worker-prod
    dir: terraform/ecs-download-worker
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../*.tf"]
      enabled: true

fix: WebFluxJacksonConfig 리네이밍으로 bean 충돌 해결
  adapter-out/http-client/src/main/java/com/ryuqq/fileflow/adapter/out/http/config/WebFluxJacksonConfig.java
Due: none

chore: Spotless 코드 포맷팅 적용
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/controller/GlobalExceptionHandler.java
  adapter-out/http-client/src/main/java/com/ryuqq/fileflow/adapter/out/http/config/WebFluxJacksonConfig.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/base/WebApiIntegrationTest.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/config/DatabaseCleaner.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/config/TestContainersConfig.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/config/WireMockConfig.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/helper/TestDataHelper.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/webapi/ErrorCaseIntegrationTest.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/webapi/ExternalDownloadIntegrationTest.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/webapi/FileAssetIntegrationTest.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/webapi/HealthCheckIntegrationTest.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/webapi/SingleUploadIntegrationTest.java
  integration-test/src/test/java/com/ryuqq/fileflow/integration/webapi/UploadSessionQueryIntegrationTest.java
Due: none

fix: web-api image tag 형식을 Terraform validation에 맞게 수정
  .github/workflows/build-and-deploy.yml
Due: none

fix: WebFluxJacksonConfig 조건을 bean name 기반으로 수정
  adapter-out/http-client/src/main/java/com/ryuqq/fileflow/adapter/out/http/config/WebFluxJacksonConfig.java
  error.txt
Due: none

fix: Gateway 경로 호환 및 springdoc 버전 업그레이드
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/config/WebMvcConfig.java
  gradle/libs.versions.toml
Due: none

fix: sqsObjectMapper에서 @Primary 제거로 ObjectMapper 충돌 해결
  adapter-in/sqs-listener/src/main/java/com/ryuqq/fileflow/adapter/in/sqs/config/SqsListenerConfig.java
Due: none

feat(terraform): migrate to RDS Proxy via SSM Parameter
  error.txt
  terraform/ecs-download-worker/provider.tf
  terraform/ecs-resizing-worker/provider.tf
  terraform/ecs-scheduler/provider.tf
  terraform/ecs-web-api/provider.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

feat(terraform): migrate to RDS Proxy via SSM Parameter (#129)
  error.txt
  terraform/ecs-download-worker/provider.tf
  terraform/ecs-resizing-worker/provider.tf
  terraform/ecs-scheduler/provider.tf
  terraform/ecs-web-api/provider.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: enable TLS for RDS Proxy connection
  adapter-out/persistence-mysql/src/main/resources/persistence.yml
Due: none

feat: RDS Proxy 마이그레이션 및 TLS 활성화 (#130)
  adapter-out/persistence-mysql/src/main/resources/persistence.yml
Due: none

feat: Sentry 에러 트래킹 통합 및 Observability 가이드 추가
  bootstrap/bootstrap-download-worker/build.gradle
  bootstrap/bootstrap-download-worker/src/main/resources/application.yml
  bootstrap/bootstrap-download-worker/src/main/resources/logback-spring.xml
  bootstrap/bootstrap-resizing-worker/build.gradle
  bootstrap/bootstrap-resizing-worker/src/main/resources/application.yml
  bootstrap/bootstrap-resizing-worker/src/main/resources/logback-spring.xml
  bootstrap/bootstrap-scheduler/build.gradle
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/logback-spring.xml
  bootstrap/bootstrap-web-api/build.gradle
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
  bootstrap/bootstrap-web-api/src/main/resources/logback-spring.xml
  docs/coding_convention/06-observability/log-streaming-setup-guide.md
  docs/coding_convention/06-observability/sentry-observability-guide.md
  gradle/libs.versions.toml
Due: none

docs: Sentry 통합 운영 가이드 추가
  docs/guides/sentry-integration-guide.md
Due: none

fix: API 문서 경로 인증 제거 및 docker-compose 포트 조정
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/auth/config/SecurityConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilter.java
  local-dev/docker-compose.aws.yml
Due: none

feat(terraform): OpenSearch 로그 스트리밍 구성 추가
  terraform/ecs-download-worker/main.tf
  terraform/ecs-resizing-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: AI 리뷰 피드백 반영 - 보안 및 인프라 개선
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/auth/config/SecurityConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilter.java
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
  local-dev/docker-compose.aws.yml
  terraform/ecs-download-worker/main.tf
  terraform/ecs-resizing-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

feat: Sentry 통합 완료 - SDK 업그레이드 및 ECS 환경변수 설정
  gradle/libs.versions.toml
  terraform/ecs-download-worker/main.tf
  terraform/ecs-resizing-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
  terraform/shared-sentry.tf
Due: fileflow-ecr-prod, fileflow-ecs-cluster-prod, fileflow-elasticache-prod, fileflow-sqs-prod, fileflow-s3-prod, fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

revert: Terraform 모듈 버전을 ref=main으로 복원
  terraform/ecs-download-worker/main.tf
  terraform/ecs-resizing-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

refactor: Sentry DSN 경로를 프로젝트 단위로 변경
  terraform/shared-sentry.tf
Due: fileflow-ecr-prod, fileflow-ecs-cluster-prod, fileflow-elasticache-prod, fileflow-sqs-prod, fileflow-s3-prod, fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: Sentry locals를 각 ECS 모듈에 개별 정의
  terraform/ecs-download-worker/sentry.tf
  terraform/ecs-resizing-worker/sentry.tf
  terraform/ecs-scheduler/sentry.tf
  terraform/ecs-web-api/sentry.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: FilterConfig UserContextFilter 생성자 인자 누락 수정 및 observability 버전 변경
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/auth/config/SecurityConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/config/FilterConfig.java
  gradle/libs.versions.toml
Due: none

fix: observability-starter JitPack 멀티모듈 형식으로 변경
  gradle/libs.versions.toml
Due: none

fix: Checkstyle NeedBraces 경고 수정
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/controller/GlobalExceptionHandler.java
Due: none

fix: 테스트 코드 UserContextFilter/FilterConfig 생성자 인자 추가
  adapter-in/rest-api/src/test/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilterTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/fileflow/adapter/in/rest/config/FilterConfigTest.java
Due: none

feat: Observability 통합 - Sentry 에러 트래킹 및 OpenSearch 로그 스트리밍 (#131)
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/auth/config/SecurityConfig.java
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/controller/GlobalExceptionHandler.java
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilter.java
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/config/FilterConfig.java
  adapter-in/rest-api/src/test/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilterTest.java
  adapter-in/rest-api/src/test/java/com/ryuqq/fileflow/adapter/in/rest/config/FilterConfigTest.java
  bootstrap/bootstrap-download-worker/build.gradle
  bootstrap/bootstrap-download-worker/src/main/resources/application.yml
  bootstrap/bootstrap-download-worker/src/main/resources/logback-spring.xml
  bootstrap/bootstrap-resizing-worker/build.gradle
  bootstrap/bootstrap-resizing-worker/src/main/resources/application.yml
  bootstrap/bootstrap-resizing-worker/src/main/resources/logback-spring.xml
  bootstrap/bootstrap-scheduler/build.gradle
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/logback-spring.xml
  bootstrap/bootstrap-web-api/build.gradle
  bootstrap/bootstrap-web-api/src/main/resources/application.yml
  bootstrap/bootstrap-web-api/src/main/resources/logback-spring.xml
  docs/coding_convention/06-observability/log-streaming-setup-guide.md
  docs/coding_convention/06-observability/sentry-observability-guide.md
  docs/guides/sentry-integration-guide.md
  gradle/libs.versions.toml
  local-dev/docker-compose.aws.yml
  terraform/ecs-download-worker/main.tf
  terraform/ecs-download-worker/sentry.tf
  terraform/ecs-resizing-worker/main.tf
  terraform/ecs-resizing-worker/sentry.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-scheduler/sentry.tf
  terraform/ecs-web-api/main.tf
  terraform/ecs-web-api/sentry.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: logstash-logback-encoder 의존성 추가 (ClassNotFoundException 수정)
  bootstrap/bootstrap-download-worker/build.gradle
  bootstrap/bootstrap-resizing-worker/build.gradle
  bootstrap/bootstrap-scheduler/build.gradle
  bootstrap/bootstrap-web-api/build.gradle
  error.txt
Due: none

chore: error.txt 임시 파일 삭제
  error.txt
Due: none

fix: micrometer-registry-prometheus 의존성 추가
  bootstrap/bootstrap-download-worker/build.gradle
  bootstrap/bootstrap-resizing-worker/build.gradle
  bootstrap/bootstrap-scheduler/build.gradle
  bootstrap/bootstrap-web-api/build.gradle
Due: none

fix: JWT 파싱 실패 로그에 요청 정보 추가
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilter.java
Due: none

refactor: observability 의존성을 번들로 통합
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilter.java
  bootstrap/bootstrap-download-worker/build.gradle
  bootstrap/bootstrap-resizing-worker/build.gradle
  bootstrap/bootstrap-scheduler/build.gradle
  bootstrap/bootstrap-web-api/build.gradle
Due: none

fix: micrometer-registry-prometheus 의존성 추가 (#132)
  adapter-in/rest-api/src/main/java/com/ryuqq/fileflow/adapter/in/rest/common/filter/UserContextFilter.java
  bootstrap/bootstrap-download-worker/build.gradle
  bootstrap/bootstrap-resizing-worker/build.gradle
  bootstrap/bootstrap-scheduler/build.gradle
  bootstrap/bootstrap-web-api/build.gradle
Due: none
