Repository ryu-qqq/FileFlow: changes, and which Atlantis projects are due for each by the changed paths.
All: fileflow-ecr-prod, fileflow-ecs-cluster-prod, fileflow-elasticache-prod, fileflow-sqs-prod, fileflow-s3-prod, fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fileflow-ecr-prod:
  dir: terraform/ecr
  workspace: default

fileflow-ecs-cluster-prod:
  dir: terraform/ecs-cluster
  workspace: default

fileflow-elasticache-prod:
  dir: terraform/elasticache
  workspace: default

fileflow-sqs-prod:
  dir: terraform/sqs
  workspace: default

fileflow-s3-prod:
  dir: terraform/s3
  workspace: default

fileflow-ecs-web-api-prod:
  dir: terraform/ecs-web-api
  workspace: default

fileflow-ecs-scheduler-prod:
  dir: terraform/ecs-scheduler
  workspace: default

fileflow-ecs-download-worker-prod:
  dir: terraform/ecs-download-worker
  workspace: default

refactor: Dockerfile HEALTHCHECK 제거 (ECS는 Terraform이 관리)
  bootstrap/bootstrap-download-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

feat: ECS Health Check start_period를 300초로 증가
  terraform/ecs-download-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: Worker 빈 등록 실패 및 OpenTelemetry 메트릭 중복 수집 해결 (#108)
  bootstrap/bootstrap-download-worker/Dockerfile
  bootstrap/bootstrap-download-worker/src/main/java/com/ryuqq/fileflow/bootstrap/download/FileFlowDownloadWorkerApplication.java
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
  terraform/ecs-download-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: Alpine Linux에 wget 설치 추가 (ECS Health Check 실패 해결)
  bootstrap/bootstrap-download-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

fix: Alpine Linux에 wget 설치 추가 (ECS Health Check 실패 해결) (#109)
  bootstrap/bootstrap-download-worker/Dockerfile
  bootstrap/bootstrap-scheduler/Dockerfile
  bootstrap/bootstrap-web-api/Dockerfile
Due: none

fix: Scheduler image_tag를 최신 버전으로 업데이트
  terraform/ecs-scheduler/provider.tf
Due: fileflow-ecs-scheduler-prod

fix: 모든 서비스의 image_tag를 최신 버전으로 업데이트
  terraform/ecs-download-worker/provider.tf
  terraform/ecs-web-api/provider.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-download-worker-prod

fix: Terraform image_tag 업데이트 및 강제 리빌드 (#110)
  terraform/ecs-download-worker/provider.tf
  terraform/ecs-scheduler/provider.tf
  terraform/ecs-web-api/provider.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: Update container ports to match management server ports
  terraform/ecs-download-worker/main.tf
  terraform/ecs-scheduler/main.tf
Due: fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: Update container ports to match management server ports (#111)
  terraform/ecs-download-worker/main.tf
  terraform/ecs-scheduler/main.tf
Due: fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: Add spring-boot-starter-web for management server
  bootstrap/bootstrap-scheduler/build.gradle
Due: none

fix: Add spring-boot-starter-web for management server (#112)
  bootstrap/bootstrap-scheduler/build.gradle
Due: none

fix: ECS 헬스체크 실패 문제 해결
  bootstrap/bootstrap-download-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
  terraform/ecs-download-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

Fix/ecs health check configuration (#113)
  bootstrap/bootstrap-download-worker/src/main/resources/application.yml
  bootstrap/bootstrap-scheduler/src/main/resources/application.yml
  terraform/ecs-download-worker/main.tf
  terraform/ecs-scheduler/main.tf
  terraform/ecs-web-api/main.tf
Due: fileflow-ecs-web-api-prod, fileflow-ecs-scheduler-prod, fileflow-ecs-download-worker-prod

fix: Use endpoint_address output for standalone Redis cluster
  terraform/elasticache/main.tf
Due: fileflow-elasticache-prod

specstroy 제거
  .specstory/.gitignore
  .specstory/history/2025-11-04_11-35Z-멀티모듈-프로젝트-인식-문제.md
  .specstory/history/2025-11-04_18-09Z-add-upload-to-queue.md
  .specstory/history/2025-11-05_03-00Z-진행할-작업-목록-정리.md
  .specstory/history/2025-11-05_05-52Z-리팩토링-계획서의-작업-진행.md
  .specstory/history/2025-11-05_06-11Z-리팩토링-계획서에-따른-작업-진행.md
  .specstory/history/2025-11-05_15-34Z-리팩토링-가이드-작업-요청.md
  .specstory/history/2025-11-06_02-36Z-작업-지침에-따른-분석-수행.md
  .specstory/history/2025-11-06_03-09Z-작업-지침에-따른-문서-분석.md
  .specstory/history/2025-11-06_15-09Z-작업-진행을-위한-문서-확인.md
  .specstory/history/2025-11-18_06-20Z-access-domain-plan-file.md
  .specstory/history/2025-11-24_14-45Z-단위-테스트-목록-확인하기.md
Due: none

chore: KAN-337 Domain Layer TDD 작업 시작
  .cursorindexingignore
  docs/api-development-status.md
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
  docs/prd/external-download-worker-implementation.md
  docs/prd/external-download.md
  docs/prd/presigned-url-upload.md
  docs/prd/session/FILE-006-001.md
  docs/prd/session/FILE-006-002.md
  docs/prd/session/FILE-006-003.md
  docs/prd/session/FILE-006-004.md
  docs/prd/session/FILE-006-005.md
  docs/prd/total/plans/FILE-002-application-plan.md
  docs/prd/total/plans/FILE-003-persistence-plan.md
  docs/prd/total/tasks/FILE-001.md
  docs/prd/total/tasks/FILE-002.md
  docs/prd/total/tasks/FILE-003.md
  docs/prd/total/tasks/FILE-004.md
  docs/prd/total/tasks/FILE-005.md
  docs/test-coverage-report.md
Due: none

test: ContentType HTML/XHTML 타입 인식 테스트 추가 (Red)
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
  domain/src/test/java/com/ryuqq/fileflow/domain/session/vo/ContentTypeTest.java
Due: none

feat: ContentType HTML/XHTML 타입 지원 (Green)
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
  domain/src/main/java/com/ryuqq/fileflow/domain/session/vo/ContentType.java
Due: none

chore: Cycle 1 ContentType HTML/XHTML 타입 추가 완료
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
Due: none

test: ContentType.isHtml() 테스트 추가 (Red)
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
  domain/src/test/java/com/ryuqq/fileflow/domain/session/vo/ContentTypeTest.java
Due: none

feat: ContentType.isHtml() 구현 (Green)
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
  domain/src/main/java/com/ryuqq/fileflow/domain/session/vo/ContentType.java
Due: none

struct: ContentType HTML MIME 타입 상수화 (Refactor)
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
  domain/src/main/java/com/ryuqq/fileflow/domain/session/vo/ContentType.java
Due: none

test: ContentType.isExcel() 테스트 추가 (Red)
  docs/prd/asset/plans/FILE-ASSET-PROCESSING-domain-plan.md
  domain/src/test/java/com/ryuqq/fileflow/domain/session/vo/ContentTypeTest.java
Due: none

feat: ContentType.isExcel() 구현 (Green)
  domain/src/main/java/com/ryuqq/fileflow/domain/session/vo/ContentType.java
Due: none

struct: ContentType Excel MIME 타입 상수화 (Refactor)
  domain/src/main/java/com/ryuqq/fileflow/domain/session/vo/ContentType.java
Due: none

test: UploadCategory HTML 카테고리 테스트 추가 (Red)
  domain/src/test/java/com/ryuqq/fileflow/domain/session/vo/UploadCategoryTest.java
Due: none

feat: UploadCategory HTML 카테고리 추가 (Green)
  domain/src/main/java/com/ryuqq/fileflow/domain/session/vo/UploadCategory.java
  domain/src/test/java/com/ryuqq/fileflow/domain/session/vo/UploadCategoryTest.java
Due: none

Path conditions:
  fileflow-ecr-prod: any of: terraform/ecr/*.tf, terraform/ecr/*.tfvars, terraform/*.tf
  fileflow-ecs-cluster-prod: any of: terraform/ecs-cluster/*.tf, terraform/ecs-cluster/*.tfvars, terraform/*.tf
  fileflow-elasticache-prod: any of: terraform/elasticache/*.tf, terraform/elasticache/*.tfvars, terraform/*.tf
  fileflow-sqs-prod: any of: terraform/sqs/*.tf, terraform/sqs/*.tfvars, terraform/*.tf
  fileflow-s3-prod: any of: terraform/s3/*.tf, terraform/s3/*.tfvars, terraform/*.tf
  fileflow-ecs-web-api-prod: any of: terraform/ecs-web-api/*.tf, terraform/ecs-web-api/*.tfvars, terraform/*.tf
  fileflow-ecs-scheduler-prod: any of: terraform/ecs-scheduler/*.tf, terraform/ecs-scheduler/*.tfvars, terraform/*.tf
  fileflow-ecs-download-worker-prod: any of: terraform/ecs-download-worker/*.tf, terraform/ecs-download-worker/*.tfvars, terraform/*.tf
